
.all-team__block {
    display: flex;
    align-items: center;
    width: 1440px;
    height: auto;
    margin: 0 auto;
}

.all-team__block__descriptions {
    align-items: center;
    display: grid;
    gap: 20px;
    padding-left: 30px;
}


//пока используем флекст если нет то потом грид
.all-team__block__img {
    width: 445px;
    height: 440px;
}

.all-team__block__img-hand {
    background-image: url(../img/all-team/Hand.svg);
    width: 400px;
    height: 440px;
    //background-size: contain;
    background-repeat: no-repeat;
    //Кастыль
    background-position: 33% 10%;
}
//увеличить её
.all-team__block__img-border {
    background-image: url(../img/all-team/Border.svg);
    width: 400px;
    height: 440px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 100%;
}

.all-team__block__descriptions__team-img {
    display: flex;
    align-items: center;
    justify-content: baseline;

    width: 1440px;
    height: auto;
    gap: 30px;

    .all-team__img-1 {
        background-image: url(../img/all-team/Ellipse1.svg);
    }
    .all-team__img-2 {
        background-image: url(../img/all-team/Ellipse2.svg);
    }
    .all-team__img-3 {
        background-image: url(../img/all-team/Ellipse3.svg);
    }
}
