//сделал, дать на проверку
.card-text {
    color: #2C2D35;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 


    &--groy {
        color: #86928B; 
        
    }

    &--size-heading-2 { 
        font-size: 30px;
    }

    &--green {
        color: #598D66; 
        font-size: 24px; 
    }

    
}

.card-block__batton {
    max-width: 100%;
    display: flex;
    font-size: 20px; 
    padding: 20px 60px;
    align-items: center; 
    background: #D4E8D9;
    border: 1px solid #598D66;
    color: #598D66;
}

//сделал, дать на проверку menu
.card-block_button-menu {
    max-width: 100%;
    display: flex;
    font-size: 20px; 
    padding: 10px 20px;
    align-items: flex-start; 
    border-radius: 20px;
    background: #D4E8D9;
    border: none;
    color: #2C2D35;
   
    

    // &--green {
    //     background: #376B44; 
    //     color: #D4E8D9;
    // }
}

// .card-block_button:active {
//     background-color: #376B44;
// }


.card-block__menu__switching {
    display: flex;
    flex-direction: row;
    gap: 32px;
}
.card-block__menu__text {
    display: flex;
    text-align: center;
    align-items: center;
}

.card-block__menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.card-block__catalog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}



    .card {
        // display: flex;
        // flex-direction: column;
        background: #E1EDE6; 
        width: 100%;
        //height: 730px; 
        min-width: 300px;
        //height: 680px; 
        padding: 20px 20px 30px 20px;

        .card-block_img {
            background-image: url(../img/card/card_art1.jpg);
            width: 100%;
            height: 422px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            
        }
    }


