* {
    margin: 0px;
    padding: 0px;
    
}

.wrapper {
    margin: 0 auto;
    padding: 15px;
    max-width: 1140px;
}

.heading-1 {
    //font-family: Raleway;
    font-size: 60px;
    font-weight: 500;
    color: #2C2D35;
    line-height: 110%;

    &--green {
        color: #598D66;
    }
}

.heading-2 {
    //font-family: Raleway;
    font-size: 40px;
    font-weight: 500;
    color: #2C2D35;
    line-height: 100%;

    &--white {
        color: #F4F6F5;
    }
}


.text {
    //font-family: Raleway;
    font-size: 18px;
    font-weight: 500;
    color: #2C2D35;
    line-height: 150%;

    

    &--white {
        color: #F4F6F5;
    }

    &--lg {
        font-size: 20px;
    }

}

body {
    // font-family: Relewey;
    // font-weight: 500;
    

}
a {
    text-decoration: none;
}



.button {
    display: inline-flex; 
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 20px 60px;
    font-size: 20px;

    &--border-green {
        border: 1px solid #598D66;
        color: #598D66;
    }

    &--yellow {
        color: #2C2D35;
        background-color: #EEDB6D;  
    }

    

}







@import "fonts";
@import "header";
@import "example-picture";
@import "card";
@import "description";
@import "all-team";
@import "footer";








// .test-grid-1 {
//     width: 1000px;
//     height: 1000px;
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr;
//     grid-template-rows: 100px 200px 300px;
    

//     grid-template-areas: 
//     "one-block two-block two-block"
//     "three-block fore-block fore-block"
//     "five-block six-block six-block";
// }

// .one {
//     background: blueviolet;
//     grid-area: two-block;
// }
    
// .two {
//     background: yellow;
//     grid-area: five-block;
// }

// .three {
//     grid-area: six-block;
//     background: green
// }







    // display: flex;
    // flex-wrap: wrap;// перено блоков нановую строку
    // align-items: center; //выравнивание по дочерний линии 
    // justify-content: center; //выравнивание основной линии
    // flex-direction: column;//позволяет поменять основую ось на дочернюю
    // align-self: center;// выравнивание по поперечной оси в виде шахмотной доски
    // order: 1;//управление порядком блоков которые нахдяться вниутри
    // justify-self: center; //выравнивание по оси строки  внутри самого блока элемента , может прижимать кверху сетки и т д
    // justify-items: center; //выравнивание по оси строки внутри самого блока элемента , может прижимать кверху сетки и т д
    // align-self: center;//выравниввание по оси столбца
    // align-items: center;//выравниввание по оси столбца
    // row-gap: 2px;// создаёт отступы между строками 
    // column-gap: 2px;// создаёт отступы между колонками

    //transition-duration: 2s; //столько времени будет действовать анимация смены цвета кнопки 
    //transition-delay: 1s; //столько секунд будет действовать задержка, после которой кнопка начнёт затухать или проходить какая то анимация
    //transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);//странные состояни изменения анимации кнопки
    //transition-property: background-color, top; // переход будет применяться только к свойствам background-color, top;

    
//     .main__text{

//         &--green {  //Music - Theory Of A Deadman - Angel
        
//     }
// }


//@media screen and (min-width: 1024px)
//@media screen and (min-width: 1337px) 



